*{
    margin: 0;
    padding: 0;

}
.container{
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.usercard{
    width: 100%;
    background-color: white;
    border: 2px solid darkgray;
    margin-left: 20px;  
}
.header{
    background-color: aqua;
    height: 70px;
    margin-bottom: 30px;
    display: flex;
}

.usercircle{
    height: 80px;
    width: 80px;
    margin: 10px 20px;
    border: 2px solid darkgray;
    border-radius: 50%;
    background-color: #fff;
    padding: 5px;
    
}
.anchor{
    display: flex;
    align-items: center;
}
.info h1{
    margin: 15px;
}

.info h1, .info h4, .info p, .info a{
    margin: 20px;
    
}
.image{
    height: 20px;
    width: auto;
    margin-right: 8px;
    
}